$background: #253D47;
$white: #FFFFFF;
$shade: rgba(25, 41, 48, 0.1);

html, body{
  
}
.container {
  background: url(../img/background2.gif);
//  background: $background;
  width: 90% !important;
  
  font-family: Molengo, Sans-serif;
}


#universe{
  display:flex;
  justify-content: center;
}

#title {

}
.carousel-caption {
    top: 0;
    bottom: auto;
}


#title {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5vw;
  letter-spacing: 0.9em;
} 
  
// .card {
//   color: #fff;
//     box-shadow: 0 0 10px black;

//   //border-color: #726EBF; 
// border-radius: 1px;
// }
// .card-body{
//   border-radius: 1px;

//     box-shadow: 0 0 5px black;
// }

// .card-header {
//   color: #fff;
//   background-color: #FFF001;
//  // border-color: #726EBF;
//     // border-radius: 100px;
//     //   border-radius: 50px;

//   }

//   .cardColor{
//   color: #fff;
//   background-color: green;
//  border-color: #726EBF;
// // border-radius: 1;
//
 //}

 h4, h5{
  color: #FC4C08;
  text-shadow: 10px 10px 10px #FFC76C;
 }
p{
  color: white;
}

.accordion {
  max-width: 90%;
  margin: 50px auto;

  //border-radius: 10px;
}
 

 
.accordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

 
.accordion .btn-link:hover,
.accordion .btn-link:focus {
  text-decoration: none;
  
}
 

